html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
}

.header h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.header .site-description {
    font-size: 1.5rem;
    display: block;
}

.header-icons a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

.header-links a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
}

.header-links a:hover {
    text-decoration: underline;
}

section {
    padding: 2rem;
}
