html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Candara', sans-serif;
}

.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    color: #EEEEEE;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.header h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
}

.header .site-description {
    font-size: 2rem;
    display: block;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 50%;
    margin: 0 10px;
    color: #EEEEEE;
    font-size: 2rem;
    border: 2px solid #EEEEEE; /* Add border */
    transition: all 0.3s ease;
}

.header-icons a:hover {
    background-color: #EEEEEE;
    color: #A91D3A;
    text-decoration: none;
}

.header-links a {
    color: #EEEEEE;
    margin: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.header-links a:hover {
    color: #C73659;
    transition: all 0.3s ease;
}

section {
    padding: 2rem;
}

.dark-red {
    color: #A91D3A;
}

.light-red {
    color: #C73659;
}

.custom-grey {
    color: #EEEEEE;
}

.custom-black {
    color: #151515;
}

/* Media query for small screens */
@media (max-width: 576px) {
    .header-links a {
        margin: 1; /* Remove margin on small screens */
    }
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.header {
    animation: upDown 3s infinite ease-in-out;
}

.dark-red {
    animation: upDown 5s infinite ease-in-out;
}